Flask
python-dotenv
watchdog
Flask-Migrate
psycopg2-binary
Flask-Mail
flask-sqlalchemy
flask_jwt_extended
flask-cors
flask-marshmallow
flask-json
gunicorn
Pillow
marshmallow
marshmallow-sqlalchemy
pandas
xlwt 
xlsxwriter
openpyxl
xlrd

# opencv-python
opencv-contrib-python-headless
Tensorflow
numpy
scikit-learn
scipy
keras_facenet

#google drive api
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
