Flask
python-dotenv
watchdog
flask-cors
Flask-Migrate
psycopg2-binary
Flask-Mail
flask-sqlalchemy
flask_jwt_extended
flask-cors
flask-marshmallow
flask-json
gunicorn
opencv-contrib-python
opencv-python
Pillow
numpy
Click
cmake
boost
dlib
face-recognition